body {  
}

header {
    background-color: dimgray;
}

main {
    background-color: aliceblue;
}

.headingStyle {
    font-weight: bold;
    text-decoration: underline;
}

#asideHeader {
    background-color: lightgreen;
    color: lightblue;
}
