body {  
}

header {
    background-color: #9c95c7; 
}

main {
    background-color: whitesmoke;
    box-shadow: -15px -10px 20px #f9ef69
}

.headingStyle {
    font-weight: bold;
   color: #3e3c39
}

#asideHeader {
    background-color: lightgreen;
    color: lightblue;
}

nav a {
    font-weight: bold;
    color: blueviolet;
}

nav li:hover {
    background-color: lightblue;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: .8em 1em;
    display: block;
}

.classesText {
    color: #5e748c;
    text-align: center;
}