
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

header {
    background-color: #9c95c7;
}

main {
    background-color: whitesmoke;
    box-shadow: -15px -10px 20px #9c95c7;
}

.headingStyle {
    font-weight: bold;
    color: #3e3c39;
    font-family: 'Dongle', cursive;
    font-size: 2em;
    text-align: center;
}

#asideHeader {
    background-color: lavender;
    color: royalblue;
    font-family: 'Dongle', cursive;
    font-size: 1.5em;
}

nav a {
    font-weight: bold;
    color: blueviolet;
}

nav li:hover {
    background-color: lightblue;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .8em 1em;
        display: block;
    }

.classesText {
    color: #5e748c;
    text-align: center;
}

header h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 2.5em;
}

header p {
    text-align: center;
    font-size: 2em;
    font-family: 'Dongle', cursive;
}

p {
    font-family: 'Dongle', cursive;
}

body {
    background-image: url('../Images/Yellow-Lego.jpg');
    background-repeat: repeat;
    background-color: yellow;
}

#imageGallery {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

div.galleryItem {
    margin: 5px;
    border: 1px solid blueviolet;
    display: inline-block;
    width: 350px;
}

    .galleryItem:hover {
        border: 1px solid #EE9DC3;
    }

div #imageGallery img {
    width: 350px;
    height: auto;
}

div.description {
    padding: 15px;
    text-align: center;
}

.mainWrapper {
    padding: 1%;
}

.asideWrapper {
    padding: 1%;
}

footer {
    padding: 3%;
}

#headerOverlay {
    background-image: url(../Images/rsz_4lego_hands.jpg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

header h1, header p {
    margin: 7px 0 7px 150px;
}

header h1 {
    text-align: center;
    letter-spacing: 0.1em;
}

header {
    border-radius: 5px;
}

.clear {
    clear: both
}

.teamHeaders {
    text-align: center;
}

.teamImageLeft {
    width: 25%;
    float: left;
}

.teamImage {
    width: 45%;
    margin: 3%;
}

.teamTextRight {
    width: 75%;
    float: right;
}

#asideTeam {
    width: 20%;
    float: right;
    padding-left: 3%;
    box-sizing: border-box;
}

#teamLeftColumn {
    margin-right: 25%;
    border-right: 1px dashed #B6E0EA
}

#teamRightColumn {
    width: 23%;
    float: right;
}

table, tr, td, th {
    border-collapse: collapse; 
}

table {
    margin: auto;
    margin-bottom: 2em;
    margin-top: 5em;
    width: 80%;
    text-align: center;
    border: solid 2px #254069;
    border-top: none;
    border-spacing: 0;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: #069D9F;
}

    tfoot tr, td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: #63B26E
}